{% extends 'base.html' %} 
{% block content %}
    <div id="root">
        <div class="place" id="place-1"></div>
        <div class="place" id="place-2"></div>
        <div class="place" id="place-3"></div>
        <div class="place" id="place-4"></div>
        <div class="place" id="place-5"></div>
        <div class="place" id="place-6"></div>
        <div class="place" id="place-7"></div>
        <div class="place" id="place-8"></div>
        <div class="place" id="place-9"></div>
    </div>
{% endblock %}

{% block script %}
<script>
    const game = new Game()
    const ws = connect_to_websocket()

    ws.onmessage = (e) => {
        const data = JSON.parse(e.data)
        data['place_id'] && document.getElementById(data['place_id']).click()
    }
</script>
{% endblock script %}