{% extends 'base.html' %} 

{% block content %}
<form id="main-form">
    <input type="text" name="room_code" placeholder="ex: sala-dos-brabors" id="input-text">
    <input type="Submit" id="input-submit">
</form>
{% endblock content %}

{% block script %}
<script>
    class Form {
        constructor() {
            this.form = document.querySelector('#main-form')
            this.form.addEventListener('submit', this.handleSubmit)
        }

        handleSubmit = (e) => {
            e.preventDefault()
            const room_name = e.target.room_code.value.toLowerCase()

            if (this.room_name_is_valid(room_name)) {
                return window.location.href += room_name
            }
            e.target.room_code.value = ''
            this.form.classList.toggle('invalid')
        }
        
        room_name_is_valid = (room_name) => {
            return /^[0-9A-Za-z\-]+$/.test(room_name);
        }
    }
    const form = new Form()
</script>
{% endblock script %}